body{
    margin: 0;
    padding: 0;
}

section{
    padding: 3rem;
}
.nav-item{
    padding:1rem;
}
.navbar-brand{
    margin-left:30px;
}
.mission{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer section h2{
    padding: 1rem;
    color: aliceblue;
}
li{
    list-style: none;
}